// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.text-resizable {
    font-size: 1.5rem; /* Początkowa wielkość czcionki */

    @media (max-width: 768px) {
      font-size: 1rem; /* Wielkość czcionki dla mniejszych ekranów */
    }

    @media (max-width: 576px) {
      font-size: 1rem; /* Wielkość czcionki dla jeszcze mniejszych ekranów */
    }
  }
